# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.sbr
MenuDemo/Debug/vc90.pdb
*.idb
QQDemo/Debug/color_skin.obj
*.obj
QQDemo/Debug/QQDemo.map
*.pdb
*.ncb
DuiLib.suo
*.pch
FlashDemo/Debug/FlashDemo.map
*.bsc
FlashDemo/FlashDemo.vcproj.wengmq-PC.wengmq.user
*.user
QQDemo/Debug/mt.dep
*.dep
*.map
/.vs/DuiLib/v15/ipch
/.vs/DuiLib/v15
/360SafeDemo/*.filters
/360SafeDemo/*.vcproj
/360SafeDemo/360SafeDemo.vcxproj
/360SafeDemo/Debug
/360SafeDemo/Debug_u
/360SafeDemo/Release
/360SafeDemo/Release_u
/360SafeDemo/x64/Debug/360Safe.tlog
/360SafeDemo/x64/Debug/*.log
/DuiLib/Build/Debug
/DuiLib/Build/Debug_u
/DuiLib/Build/Release
/DuiLib/Build/Release_u
/DuiLib/x64/Debug
/DuiLib/x64/Release
/DuiLib/x64/UnicodeDebug
/DuiLib/x64/UnicodeRelease
/FlashDemo/Debug
/FlashDemo/Debug_u
/FlashDemo/*.vcproj
/FlashDemo/*.filters
/FlashDemo/Release
/FlashDemo/Release_u
/GameDemo/Debug
/GameDemo/Debug_u
/GameDemo/Release
/GameDemo/Release_u
/ListDemo/Debug
/ListDemo/Debug_u
/ListDemo/Release
/ListDemo/Release_u
/MenuDemo/Debug
/MenuDemo/Release
/MenuDemo/Release_u
/MenuDemo/UnicodeDebug
/QQDemo/Debug
/QQDemo/Debug_u
/QQDemo/Release
/QQDemo/Release_u
/RichListDemo/Release
/RichListDemo/Debug
/RichListDemo/UnicodeDebug
/RichListDemo/UnicodeRelease
/ScrCapture/Debug
/ScrCapture/Debug_u
/ScrCapture/Release
/ScrCapture/Release_u
/TestApp1/Debug
/TestApp1/Debug_u
/TestApp1/Release
/TestApp1/Release_u
/bin
